body{
  margin: 0;
  color: #DAE1E7;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
}
h2{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: bold;
}
.allen{
  height: 250px;
  position: fixed;
  bottom: 0;
}
.top-container{
  padding-top: 100px;
  text-align: center;;
  background-color: #142850;
}
.und{
  text-decoration: underline;
}
.moon{
  height: 300px;
  width: auto;
  position: absolute;
  top:0;
  right: 50px;
}
.lake{
  position: relative;

  width:1500px;
}


.middle-container{
  height: 200px;
  background-color: #27496D;
}

.bottom-container{
  height: 200px;
  background-color: #00909E;
}
